
body {
    background-image: url("imgs/2.jpg");
    background-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.login-title{
    text-align: center;
    text-transform: uppercase;
    color: rgb(50, 153, 194);
    margin-top:90px;
}

#home-content{

}